.loading__page {
    background-color: $darkPink;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}

.loader {
    position: absolute;
    justify-content: space-between;
    height: 10rem;
    width: 8rem;
    opacity: 1;

    @include flexColumn;
    @include topLeftTranslate;

    @include respondTo(big-desktop) {
        transform: scale(1.5) translate(-50%, -50%);
    }
    
    &__line {
        position: absolute;
        width: 100%;
        height: .12rem;
        bottom: 0;
        
        &-under {
            background-color: $white;
            opacity: .6;
            height: .2rem;
            width: 100%;
            z-index: 0;   
        }

        &-on {
            background-color: $white;
            position: absolute;
            height: .2rem;
            width: 0;
            top: -.01rem;
            z-index: 1;
        }
    }
}
