.filter {
    width: 50%;
    justify-content: space-between;
    align-items: center;

    @include flexRow;

   @include respondTo(tablet-landscape) {
        width: 45%;
        padding-left: .3rem;
    }

    @include respondTo(desktop) {
        //width: 37%;
        width: 50%;
    }

    @include respondTo(big-desktop) {
        width: 40%;
    }

    &__title {
        font-family: $fontSansSerif;
        font-size: 1.2rem;

        @include respondTo(tablet) {
            font-size: 2.3rem;
        }

        @include respondTo(tablet-landscape) {
            font-size: 1.2rem;
            margin-right: -1rem;
        }

       @include respondTo(big-desktop) {
            font-size: 2.1rem;
            margin-right: 1rem;
        }
    }

    &__stars {
        justify-content: space-between;
        width: 60%;

        @include flexRow;

        @include respondTo(tablet-landscape) {
            width: 55%;
        }

        @include respondTo(desktop) {
            width: auto;
            margin-left: 2rem;
        }

        &-light {
            height: 2.2rem;
            width: 2.2rem;
            margin-top: 1.5rem;
            transform: scale(1.1);
            opacity: .5;
            cursor: pointer;
            
            @include respondTo(tablet) {
                transform: scale(1.9);
                margin: 1.5rem .9rem 0 0;
            }

            @include respondTo(tablet-landscape) {
                transform: scale(1.1);
                margin-right: .5rem;
            }

            @include respondTo(desktop) {
                transform: scale(1.5);
                margin: 1.5rem .9rem 0 0;
            }

            @include respondTo(big-desktop) {
                transform: scale(1.7);
                margin-right: 1.7rem;
            }
        }
    }

    &__reset-svg {
        margin-top: .2rem;
        cursor: pointer;
        
        @include respondTo(tablet) {
            transform: scale(1.7);
        }
        
        @include respondTo(tablet-landscape) {
            transform: scale(1);
        }

        @include respondTo(big-desktop) { 
            transform: scale(1.7);        
        }
    }
}


