.restaurant-highlight {
    background-color: $darkPink;
    color: $white;
    fill: $white;
}

.star-highlight path {
    fill: $white;
}

.dash-light {
    color: $white;
}

.starFilter-highlight {
    opacity: 1;
}

.star__notation path {
    fill: $white;
}





